body {
	box-sizing: border-box;
	font-family: 'Times New Roman';

}

/*===============================
	Events & Awards CSS 
=================================*/

#events,
.news-events {
	padding: 20px;
	background-color: rgb(233, 221, 205);
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 40px;
}
.news-events {
	width: 100%;
	/* height: 100%; */
}

.event-heading,
.news-title {
	text-align: center;
	font-weight: bold;
	padding: 6px 0 6px 0;
	font-size: 24px;
	color: black;
	border: 1px solid rgb(240, 190, 125);
	background-color: BurlyWood;
	margin-bottom: 15px;
	box-shadow: 0 2px 4px rgba(47, 85, 49, 0.1);

}

.event-item,
.news-item {
	position: relative;
	text-align: justify;
	margin-bottom: 15px;
	padding: 15px;
	border-radius: 8px;
	background-color: white;
	box-shadow: 0 2px 4px rgba(47, 85, 49, 0.1);
	opacity: 0;
	animation: fadeIn 8s forwards;
}

.event-item:hover,
.news-item:hover {
	transform: translateY(-3px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event-item a,
.news-item a {
	color: black;
	font-size: 16px;
	text-decoration: none;
}

.event-item a:hover,
.news-item a:hover {
	color: black;
	font-size: 16px;
	text-decoration: underline;
}

.bi-award-fill {
	font-size: 20px;
	color: green;
	margin-right: 10px;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/*===============================
	Header CSS 
=================================*/
* {
	box-sizing: border-box;
}

/* .text-effect {
	margin: 0 0 0 10%;
	color: #507750;
	filter: saturate(2) contrast(1.5) brightness(1) hue-rotate(15deg);
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	word-spacing: 0.5em;
	letter-spacing: 3px; 
	text-shadow: 2px 2px 4px rgba(255, 0, 222, 0.5);
	font-weight: bold;
	font-size: 1.8rem;
	padding: 10px;
} */

.text-effect{
    color: #45a36c;
    text-shadow: 2px 2px 4px rgba(255, 0, 222, 0.5);
    font-size: 40px;
	word-spacing: 0.4em;
	letter-spacing: 3px; 
    text-align: center;
    animation: 2s anim-popoutin ease 1;
}
@keyframes anim-popoutin{
    0%{
        color: #0d0e0d;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
        opacity: 0;
        transform: scale(0);
    }
    25%{
        color: rgb(47, 48, 47);
        text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
        opacity: 1;
        transform: scale(1.2);
    }
    50%{
        color: #198b52;
		text-shadow: 2px 2px 4px rgba(255, 0, 222, 0.5);
        /* text-shadow: 1px 0 0 rgba(0, 0, 0, 0); */
        opacity: 1;
        transform: scale(1);
    }
    100%{
    text-shadow: 2px 2px 4px rgba(255, 0, 222, 0.5);
	/* text-shadow:1px 0 0 rgba(0, 0, 0, 0); */
        opacity: 1;
        transform: scale(1);
    }
}
@media only screen and (max-width: 990px){
    .text-effect{ font-size: 30px; }
}
@media only screen and (max-width: 767px){
    .text-effect{ font-size: 30px; }
}
@media only screen and (max-width: 576px){
    .text-effect{ font-size: 25px; }
}
@media only screen and (max-width: 479px){
    .text-effect{
        font-size: 20px;
        line-height: 35px;
    }
}

.header1 {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(53, 51, 51, 0.7);
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    box-sizing: border-box;
    overflow: visible;
}

.header-inner {
    max-width: 100%;
    overflow: visible;
}

.header1 .menu-bar {
    background-color: #e6e6e6;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.header-inner .logo img {
    overflow: hidden;
    margin: 15px 0 0 auto;
    width: 200px;
    height: 70px;
}

.header1 .navbar-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 0;
    margin: 0;
}

.header1 .nav-item {
    margin: 0;
}

.header1 .nav-link {
    text-decoration: none;
    color: rgb(49, 48, 48);
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
}

.header1 .nav-link:hover {
    color: #068f1d;
    text-decoration: underline;
}

.header1 .dropdown-menu {
    margin-top: 0;
    background: #e6e6e6;
    box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.2);
}

.header1 .dropdown-item {
    color: black;
    background: #e6e6e6;
    text-transform: capitalize;
    padding: 5px 20px;
    font-weight: 400;
}

.header1 .dropdown-item:hover,
.header1 .dropdown-item.active {
    color: #068f1d;
    text-decoration: underline;
}

.header1 .nav-item.active > .nav-link {
    font-weight: bold;
    color: #068f1d;
    text-decoration: underline;
}

.header1 .dropdown .dropdown-item.active,
.header1 .nav-link.active {
    color: #068f1d;
    background-color: #e6e6e6;
    text-decoration: underline;
}


/* .header1 {
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(53, 51, 51, 0.7);
	position: sticky;
	top: 0;
	z-index: 999;
	width: 100%;
	box-sizing: border-box;
	overflow: visible;
}

.header-inner {
	max-width: 100%;
	overflow: visible;
}

.header1 .menu-bar {
	background-color: #e6e6e6;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

}

.header-inner .logo img {
	overflow: hidden;
	margin: 15px 0 0 auto;
	width: 200px;
	height: 70px;
}

.header1 .navbar-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	padding: 0;
	margin: 0;
}

.header1 .nav-item {
	margin: 0;
}

.header1 .navbar-nav .nav-item a {
	color: rgb(43, 42, 42);
}

.header1 .nav-link {
	text-decoration: none;
	color: rgb(49, 48, 48);
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	display: inline-block;
}

.header1 .nav-link:hover {
	color: #068f1d;
	text-decoration: underline;
}

.header1 .dropdown .dropdown-menu {
	margin-top: 0;
	background: #e6e6e6;
	box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.2);
}

.header1 .dropdown-item {
	color: black;
	background: #e6e6e6;
	text-transform: capitalize;
	padding: 5px 20px;
	font-weight: 400;
}

.header1 .dropdown .dropdown-item:hover,
.header1 .dropdown-item.active {
	color: #068f1d;
	text-decoration: underline;
}

.header1 .dropdown .dropdown-item.active,
.header1 .dropdown .nav-link.active {
	text-decoration: underline;
	color: #068f1d;
	background-color: #e6e6e6;
}

.header1 .nav-item.active>.nav-link {
	font-weight: bold;
	color: #068f1d;
	text-decoration: underline;
}

.header1 .nav-item>.nav-link:hover {
	font-weight: bold;
	color: #068f1d;
} */

/* Search Form */
.header .search-area {
	position: absolute;
	right: 0;
	top: 28px;
}

.header .search-area .icon {
	width: 28px;
	height: 28px;
	line-height: 24px;
	text-align: center;
	color: #555;
	border: 1px solid #ccc;
	border-radius: 50%;
	transition: all 0.3s ease;
}

.header .search-area .icon:hover {
	background: #06C46B;
	color: #fff;
	border-color: transparent;
}

.header .search-area.active .icon i:before {
	content: "\f00d";
	/* FontAwesome close icon */
}

.header .search-form {
	width: 300px;
	position: absolute;
	right: 0;
	top: 57px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
	display: none;
	transform-origin: 0 0;
}

.header .search-area.active .search-form {
	display: block;
}

.header .search-form input {
	width: 100%;
	height: 60px;
	padding: 0 15px;
	font-size: 14px;
	border: none;
	color: #888;
}

.header .search-form button {
	position: absolute;
	width: 50px;
	height: 60px;
	line-height: 60px;
	color: #fff;
	border: none;
	right: 0;
}


/*===============================
	End Header CSS 
=================================*/

/*===============================
	Carousel Gallery CSS 
=================================*/
.carousel-gallery {
	margin: 50px 0;
	padding: 0 30px;
	text-align: center;
}

.swiper-slide {
	display: inline-block;
	width: 20%;
	margin-right: 10px;
}

.swiper-slide a {
	display: block;
	width: 100%;
	height: 200px;
	border-radius: 4px;
	overflow: hidden;
	position: relative;
	box-shadow: 3px 2px 20px 0px rgba(0, 0, 0, .2);
	transition: transform 0.2s ease-in-out;
}

.swiper-slide a:hover {
	transform: scale(1.1);
}

.swiper-slide .image {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.swiper-slide .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(20, 20, 20, .8);
	text-align: center;
	opacity: 0;
	transition: all .2s linear;
}

.swiper-slide:hover .overlay {
	opacity: 0.4;
}

.swiper-slide .overlay em {
	color: #fff;
	font-size: 26px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
}

.swiper-pagination {
	position: relative;
	bottom: auto;
	text-align: center;
	margin-top: 25px;
}

.swiper-pagination .swiper-pagination-bullet {
	transition: all .2s linear;
}

.swiper-pagination .swiper-pagination-bullet:hover {
	opacity: .7;
}

.swiper-pagination .swiper-pagination-bullet-active {
	background-color: #d63031;
	transform: scale(1.1, 1.1);
}

/*===============================
	End Carousel Gallery CSS 
=================================*/

/*===============================
	Courses Class CSS
=================================*/
.courses {
	background: #f8f8f8;
	/* height: 100%; */
	margin-top: auto;
	/* padding: 15% 0 0 0; */
}

/*===============================
	End Courses CSS
=================================*/


/*===========================================
	Facilities & Developing Pothentials CSS 
=============================================*/
.features-section {
	padding: 40px;
	background-color: #f8f9fa;
}

.features-section h2 {
	text-align: center;
	margin-bottom: 30px;
	color: #343a40;
}

.features-section ul {
	list-style-type: none;
	padding: 0;
}

.features-section ul li {
	background: #fff;
	margin: 10px 0;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	font-size: 18px;
	color: #495057;
}

.features-section ul li:before {
	content: '✔';
	color: #007bff;
	margin-right: 10px;
}

.programme-section {
	padding: 40px;
	background-color: #f8f9fa;
}

.programme-section h2 {
	text-align: center;
	margin-bottom: 30px;
	color: #343a40;
}

.programme {
	margin-bottom: 40px;
}

.programme img {
	max-width: 100%;
	border-radius: 5px;
}

.programme-content {
	background: #fff;
	padding: 20px;
	font-size: 18px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	color: #495057;
}

/*===============================================
	End Facilities & Developing Pothentials CSS 
=================================================*/

/*===============================
	my other  CSS
=================================*/
li {
	list-style: none;

}

.section {
	margin: 5% 0 0 0;
}

.heading {
	text-align: center;
	font-weight: bold;
	background-color: burlywood;
	padding: 17px;
	margin: 0 auto;
	height: 100%;
	border-radius: 4px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

/*===============================
	End my other  CSS
=================================*/

/*===============================
	About CSS 
=================================*/
.image {
	/* float: left; */
	width: 100%;
	margin: 0 0 20px 20px;
	border: 2px solid #ddd;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	padding: 5px;
	height: auto;
}

.image-title {
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	background-color: burlywood;
	padding: 10px;
	width: 50%;
	margin: 0 0 0 30%;
}

#aboutCity {
	margin: 6% 0 0 0;
}

.aboutcontent {
	text-align: justify;
	background-color: rgb(233, 221, 205);
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
	z-index: 1;
	position: relative;
	top: 20px;
	right: 80px;
	/* height: auto; */
	width: 100%;
	padding: 8px;
}

.aboutcontent h3 {
	margin: 0 0 0 20px;
	overflow: hidden;
	border-right: .17em solid orange;
	white-space: nowrap;
	animation: typing 3.5s steps(40, end) infinite, blink-caret .75s step-end 1 normal forwards;
}

.aboutCity {
	background-color: rgb(233, 221, 205);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	z-index: 1;
	position: relative;
	top: 45px;
	right: 50px;
	height: 100%;
	width: 100%;
}

@keyframes typing {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

@keyframes blink-caret {

	from,
	to {
		border-color: transparent;
	}

	50% {
		border-color: rgb(115, 153, 115);
	}
}

.aboutcollege {
	margin: 0 0 0 20px;
	border: 1px solid white;
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	z-index: 1;
	position: relative;
	height: 20%;
	width: 100%;
}

/*===============================
	End About CSS 
=================================*/

/*===============================
	Administration CSS 
=================================*/
.admin-title h2 {
	width: 20%;
}

.admin-title p {
	text-align: center;
	margin: 30px 0 30px 0;
	font-size: 1.2em;
}

.admissionRules {
	margin: 4% 0 4% 0;
}

.admissionRules h2 {
	width: 50%;

}

.fa-check {
	color: #265226;
}

/*===============================
	End Administration CSS 
=================================*/

/*===============================
	Call to Action CSS 
=================================*/
.cta {
	padding-top: 62px;
	background: #F8F8F8;
}

.cta .cta-inner {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.cta .text-content {
	background: transparent;
	z-index: 333;
	position: relative;
	border-radius: 5px;
}

.cta .text-content h2 {
	font-size: 35px;
	margin-bottom: 20px;
	color: #fff;
}

.cta .text-content h2 span {
	font-weight: 500;
	font-style: italic;
	border-bottom: 2px solid;
}

.cta .text-content p {
	color: #eee;
}

.cta .button {
	margin-top: 20px;
}

.cta .button .btn {
	margin-right: 15px;
}

.cta .button .btn:last-child {
	margin: 0;
}

.cta .cta-image {
	position: absolute;
	right: 0;
	top: -152px;
}

/*===============================
	End Call to Action CSS 
=================================*/

/*===============================
	Card CSS 
=================================*/
.card {
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.card-header {
	background-color: #738f73;
	color: black;
	font-size: 23px;
	font-weight: bold;
}

/*===============================
	End Card CSS 
=================================*/

/*======================================
	Others CSS
========================================*/
/* #scrollUp {
	right: 20px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	z-index: 33;
	bottom: 10px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
	color: #ffff;
	font-size: 18px;
	border-radius: 100%;
	font-size: 18px;
} */

/* #scrollUp:hover {
	color: #fff;
	bottom: 15px;
} */

/* Breadcrumbs CSS */
.breadcrumbs {
	background-position: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 60px 0;
}

.breadcrumbs::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	/* Adjust opacity as needed */
	z-index: 0;
}

.breadcrumbs h2 {
	color: #fff;
	font-size: 34px;
	font-weight: 700;
	margin-top: 5px;
}

.breadcrumbs p {
	color: #ccc;
	margin-top: 5px;
}

.breadcrumbs .bread-list {
	background: rgba(238, 234, 234, 0.20);
	display: inline-block;
	padding: 10px 25px;
	float: right;
}

.breadcrumbs ul li {
	display: inline-block;
	position: relative;
	margin-right: 10px;
}

.breadcrumbs ul li:last-child {
	margin: 0;
}

.breadcrumbs ul li a {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	text-transform: capitalize;
}

.breadcrumbs ul li.active a {
	color: #fff;
	padding: 7px 20px;
	display: inline-block;
}

.breadcrumbs ul li.active a:hover {
	background: #fff;
	color: #20232E;
}

.breadcrumbs ul li i {
	margin-left: 5px;
}

.breadcrumbs .bread-list .active {
	background-color: #2e803b;
}

/*======================================
	End Others CSS
========================================*/

/*=============================
	Footer CSS
===============================*/
.footer {
	background: #20232E;
	padding: 0;
}

.footer .footer-top {
	padding: 40px 0 70px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.footer .footer-top:before {
	opacity: 0.9;
}

.footer a,
.footer p {
	font-weight: 400;
	color: #ccc;
	line-height: 22px;
}

.footer .single-widget {
	margin-top: 30px;
	font-family: 'serif';
}

.footer .single-widget h2 {
	margin-left: 10%;
	font-size: 17px;
	margin-bottom: 25px;
	color: #fff;
	position: relative;
}

.footer .single-widget a {
	font-size: 17px;
}

.footer .about p {
	margin-top: 20px;
}

/* List */
.footer .list li {
	line-height: 35px;
	color: #ccc;
	list-style-type: none;
}

.footer .list li a {
	color: #ccc;

}

.footer .list li i {
	margin-right: 15px;
}

/* Social */
.footer .social {
	margin-top: 20px;
}

.footer .social li {
	display: inline-block;
	margin: 0;

}

.footer .social li:last-child {
	margin: 0;
	padding: 2px 0 0 0;

}

.footer .social li a {
	display: inline-block;
	text-align: center;
	margin: 0;
	padding: 2px 0 0 0;
	border-radius: 100%;
	font-size: 13px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: rgba(255, 255, 255, 0.1);
	color: #fff;
}

.footer .social li:hover a,
.footer .social li.active a {
	color: #fff;
}

.footer-bottom {
	background: #121212;
	padding: 20px 0;
}

.footer .copyright {
	text-align: center;
}

.footer .copyright p {
	color: #aaa;
}

.footer .copyright a {
	color: #068f1d;
}

.footer .copyright a:hover {
	color: #068f1d;
}

/*=============================
	End Footer CSS
===============================*/